@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(-45deg, #273441, #212c36, #233d47, #23473c);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hover-scale {
  @apply hover:scale-105 transition-all duration-300;
}

.bg-shapes {
  background-image: url("/assets/shapes-background.svg");
  animation: shapes-animation 20s ease infinite;
}

@keyframes shapes-animation {
  0% {
    background-position-x: 0;
    background-position-y: 0;
  }
  50% {
    background-position-x: -50vw;
    background-position-y: 50vh;
  }
  100% {
    background-position-x: 0;
    background-position-y: 0;
  }
}
