html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header,
main,
nav {
    display: block;
}

.mt-3 {
    margin-top: 3rem;
}