
html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    overflow-y: scroll;
}


body {
    margin: 0;
}

img,
main {
    display: block;
}

h1 {
    color: $primaryColor;
    font-size: 4em;
    margin: 0;
}

h4 {
    font-weight: 500;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}