// layouts
$maxContainerWidth: 960px;

// colors
$backgroundColor: #ffffff;
$textColor: #404040;
$primaryColor: #0b5394;

// can get more granular
$containerBackgroundColor: $backgroundColor;
$navColor: $backgroundColor;
$navLabelsColor: $textColor;